<template>
  <section class="page">
        <h1>
            Lorem ipsum dolor sit amet
        </h1>
        <section class="archive">
            <section class="article">1
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAof1kT5YTV9wH2UFgVYt13za9d-ScD6OEBQ&usqp=CAU" alt="obezana">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                </p>
            </section>
            <section class="article">2
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                </p>
            </section>
            <section class="article">3
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                </p>
            </section>
            <section class="article">4
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                </p>
            </section>
            <section class="article">5
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI-SaYWlXmVicHWYEEpRgrmFir507tWQk3pA&usqp=CAU" alt="obezana">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                </p>
            </section>
            <section class="article">6
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </section>
            <section class="article">7
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQD-YTaXf90G-8IWx6llFRzjmm0ctLDUlzwKg&usqp=CAU" alt="mongol">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                </p>
            </section>
            <section class="article">8
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                </p>
            </section>
            <section class="article">9
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiMa5WTvULDriq9vXGXmtod9deioqBKVinGWGXbtcfw2Xko6jn7dT9H03cLZFfoahKzkE&usqp=CAU" alt="xz-kto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
            </section>
            <section class="article">10
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                </p>
            </section>
            <section class="article">11
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                </p>
            </section>
        </section>
    </section>
</template>

<script>

export default {
  name: 'App',
  components: {
    
  }
}
</script>

<style>
body {
    background: #0e5437;
    color: #949b09;
    padding: 4em;
    font-family: sans-serif;
    line-height: 1.15;
}

p {
    font-size: 2em;
}

img {
    padding-bottom: 10%;
    width: 100%;
}

.page {
    padding: 2em;
    background: #0d353c;
    max-width: 1100px;
    border-radius: 15px;
}

.archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
    grid-auto-flow: dense;
}

.article {
    padding: 1em;
    background: #09995866;
    border-radius: 15px;
}

.article:nth-child(5) {
    grid-column: 1/-2; 
}

.article:nth-child(8n+1) {
    grid-column: -3/-1;
}

.article:nth-child(9) {
    grid-column: -3/-1;
}

.article:nth-child(11){
    grid-column: 1/-1;
}

@media (max-width: 680px) {
    .archive {
      display: flex;
      flex-direction: column;
    }
}
</style>
